
.backstage
{
    background-image: url(../img/cyber-3400789_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background-image: url(../img/cyber-3400789_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}

.Header{
    /*background-color: black;*/
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 3px solid rgb(53, 144, 187);
}



.Photo{
    max-width: 170px;/* width: 150px; */
    height: 170px; 
    /* background-color: azure; */
    /*justify-content: center;*/
    margin-right: 30px;
    margin-left: 70px;
    margin-bottom: 10px;
    margin-top: 30px;
    background-image: url(../img/IMG_20191117_133610_042.jpg);
    background-size: cover;
    
    
}

.info {
    height: auto;
    width: auto;
    /*justify-content: center;*/
    background-color: rgb(53, 144, 187, 0.65);
}

.Menu{
    height: auto;
    width: auto;
    /*background-color: cadetblue;*/
}

.Body{
    
    border-bottom: 3px solid rgb(53, 144, 187);    
   
}

.Practice {
    justify-content: center;
    /*height: 150px;
    width: auto;
    background-color:cornflowerblue;*/
    margin-bottom: 15px;
    /* border-top: 3px solid rgb(53, 144, 187); */
}

.Footer {
    height: 150px;
    /* width:  auto; */
    /*background-color:lightsalmon;*/
    border-top: solid 3px;
    border-color: rgb(53, 144, 187);
    
    
}

.Menu_tabs a {
    color: orange;
    outline-color: blue;
}

.dropdown-item {
    
    background-color: #fff;
    color: brown;
    
}


/* .dropdown-item:hover {
    
    background-color: blueviolet;
    color: aliceblue;
    
} */

.first_card {
    /*margin-left: 10px;*/
    margin-top: 30px;
    width:auto;
    /*background-size: 100%;*/
    /*justify-content: center;*/
    

    margin-bottom: 30px;
}

.second_card {
    /*margin-right: 30px;*/
    margin-top: 30px;
    width: auto;
    justify-content: center;
    
    margin-bottom: 30px;
}

.card  {
   /*background-image: url(../img/wall_7.jpg);*/
   background-color: rgb(53, 144, 187, 0.65);
    background-size: cover ;
    /*max-height: 100%;*/
   
}

.Menu_tabs2 {
    display: block;
}

.card-header a {
    color: brown;
}

h3 {
    font-weight: bold;
    color: orange; 
    margin: 10px 15px;
    font-size: 20px;
}

.Task
{
   /*  overflow: auto; */
    height: auto;
}

.github
{
    color: black;
    font-size: medium;
}

.github a
{
    color: darkblue;
    font-size: medium;
}

.infospan 
{
    font-size: larger;
    font-weight: bold;
}

.info p
{
    font-size: medium;
    font-weight: 600;
}

.Contacts
{
    width: auto;
    height: fit-content;
}

.ContactsLink
{
    justify-content: center;
    height: fit-content;
}

.ContactPhone
{
    justify-content: center;
    height: fit-content;
}

.MySkills
{
    font-size: medium;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .Task
    {
        height: 230px;
        overflow: auto;
    }
}